# Created with jdDesktopEntryEdit 1.6
[Desktop Entry]
Type=Application
Name=MyGUI Layout Editor
GenericName=MyGUI Layout Editor
Comment=Design UIs usgin MyGUI library
Icon=preferences-system-windows
Exec=MyGUI-Tools LayoutEditor
Categories=Development;
StartupNotify=true
StartupWMClass=LayoutEditor