# Created with jdDesktopEntryEdit 1.6
[Desktop Entry]
Type=Application
Name=MyGUI Layout Editor
GenericName=MyGUI Layout Editor
Comment=Design UIs usgin MyGUI library
Icon=/usr/share/MYGUI/mygui.png
Exec=MyGUI-Tools LayoutEditor
Categories=Development;
StartupNotify=true
StartupWMClass=LayoutEditor